@model BibliotecaP.Models.dbModels.ReservacionCubiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReservacionCubiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CubiculoId" class="control-label"></label>
                <select asp-for="CubiculoId" class ="form-control" asp-items="ViewBag.CubiculoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraInicio" class="control-label"></label>
                <input asp-for="FechaHoraInicio" class="form-control" />
                <span asp-validation-for="FechaHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraFin" class="control-label"></label>
                <input asp-for="FechaHoraFin" class="form-control" />
                <span asp-validation-for="FechaHoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
