@{
    Layout = "_LayoutUsuario";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/ReservacionUsuario.css" />
}
@section Scripts {
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
    <script src="~/js/UsuarioReserva.js"></script>
}


<div class="container">
    <div class="row">
        <div class="col-2 d-flex flex-column align-items-center" style="height: 100px;">
            <button class="botoninterfaz btn btn-primary rounded-circle">
                <i class="fa fa-plus">1</i>
            </button>
            <button class="botoninterfaz btn d-inline-flex rounded-circle">
                <i class="fa fa-plus">2</i>
            </button>
        </div>
        <div class="col-8 d-flex justify-content-center align-items-center" style="height: 140px;">
            <div class="libros seat available">Libros</div>
        </div>
        <div class="col-2" style="height: 100px;">
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="height: 100px;">
            <div class=" seat available" data-id="49" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class="seat available" data-id="50" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class=" seat available" data-id="51" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class=" seat available" data-id="52" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class=" seat available" data-id="53" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
        </div>
        <div class="col-8" style="height: 400px;">
            <div class="row seat-map align-items-center">
                <div class="seat available" data-id="1"></div>
                <div class="seat available" data-id="2"></div>
                <div class="seat available" data-id="3"></div>
                <div class="seat available" data-id="4"></div>
                <div class="seat available" data-id="5"></div>
                <div class="seat available" data-id="6"></div>
                <div class="seat available" data-id="7"></div>
                <div class="seat available" data-id="8"></div>
                <div class="seat available" data-id="9"></div>
                <div class="seat available" data-id="10"></div>
                <div class="seat available" data-id="11"></div>
                <div class="seat available" data-id="12"></div>
                <div class="seat available" data-id="13"></div>
                <div class="seat available" data-id="14"></div>
                <div class="seat available" data-id="15"></div>
                <div class="seat available" data-id="16"></div>
                <div class="seat available" data-id="17"></div>
                <div class="seat available" data-id="18"></div>
                <div class="seat available" data-id="19"></div>
                <div class="seat available" data-id="20"></div>
                <div class="seat available" data-id="21"></div>
                <div class="seat available" data-id="22"></div>
                <div class="seat available" data-id="23"></div>
                <div class="seat available" data-id="24"></div>
                <div class="seat available" data-id="25"></div>
                <div class="seat available" data-id="26"></div>
                <div class="seat available" data-id="27"></div>
                <div class="seat available" data-id="28"></div>
                <div class="seat available" data-id="29"></div>
                <div class="seat available" data-id="30"></div>
                <div class="seat available" data-id="31"></div>
                <div class="seat available" data-id="32"></div>
                <div class="seat available" data-id="33"></div>
                <div class="seat available" data-id="34"></div>

                <div class="seat available" data-id="35"></div>
                <div class="seat available" data-id="36"></div>
                <div class="seat available" data-id="37"></div>
                <div class="seat available" data-id="38"></div>
                <div class="seat available" data-id="39"></div>
                <div class="seat available" data-id="40"></div>
                <div class="seat available" data-id="41"></div>
                <div class="seat available" data-id="42"></div>
                <div class="seat available" data-id="43"></div>
                <div class="seat available" data-id="44"></div>
                <div class="seat available" data-id="45"></div>
                <div class="seat available" data-id="46"></div>
                <div class="seat available" data-id="47"></div>
                <div class="seat available" data-id="48"></div>
               
            </div>
        </div>
        <div class="col-2" style="height: 100px;">
            <div class="seat available" data-id="54" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class="seat available" data-id="55" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class="seat available" data-id="56" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class="seat available" data-id="57" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
            <div class="seat available" data-id="58" style="height: 100px; width: 100px; line-height: 10px; margin-bottom: 5px; text-align: center; border: 1px solid black; border-radius: 5px;">Mesa</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center" style="height: 100px;">
            <button class="deshacer btn btn-secondary"><i>Deshacer</i></button>
            <button class="reservar btn btn-primary ml-2">Reservar</button>
        </div>
    </div>
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservationModalLabel">Reservar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Input fields for time selection -->
                    <form>
                        <div class="form-group">
                            <label for="horaEntrada">Hora de Entrada</label>
                            <input type="time" class="form-control" id="horaEntrada">
                        </div>
                        <div class="form-group">
                            <label for="horaSalida">Hora de Salida</label>
                            <input type="time" class="form-control" id="horaSalida">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="confirmarReserva">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>