@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="row">
        <div class="col-2 " style="height: 100px;">

            <button class="btn btn-primary rounded-circle" style="width: 50px; height: 50px;">
                <i class="fa fa-plus">1</i> <!-- Ejemplo con icono de FontAwesome -->
            </button>
            <button class="btn btn-primary rounded-circle" style="width: 50px; height: 50px;">
                <i class="fa fa-plus">1</i> <!-- Ejemplo con icono de FontAwesome -->
            </button>


        </div>
        <div class="col-8 bg-primary" style="height: 140px;">
            <h1>Imagen de libros</h1>
        </div>
        <div class="col-2 " style="height: 100px;">
        </div>
    </div>

    <div class="row">

        <div class="col-2" style="height: 100px;">
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
        </div>
        <div class="col-8  " style="height: 400px;">


            <div class="row seat-map align-items-center">


                

               
                <div class="seat available2"></div> 
                <div class="seat available2">A</div>
                <div class="seat available2">B</div>
                <div class="seat available2">C</div>
                <div class="seat available2">D</div>
                <div class="seat available2">E</div>
                <div class="seat available2">F</div>
                <div class="seat available2">G</div>
                <div class="seat available2">H</div>
                <div class="seat available2">I</div>
                <div class="seat available2">J</div>
                <div class="seat available2">K</div>
                <div class="seat available2">L</div>
                <div class="seat available2">1</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">2</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">3</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">4</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">5</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">6</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">7</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">8</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                

            </div>

        </div>



        <div class="col-2 " style="height: 100px;">
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 bg-secondary" style="height: 100px;">
            <h1>2 botones, habilitar y desabilitar</h1>
        </div>

    </div>
</div>

                        </div>      