@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/indexAdmin.css" />
}
<div class="container">
    <div class="row">
        <div class="col-2 " style="height: 100px;">

            <button class="botoninterfaz btn btn-primary rounded-circle" style="width: 40px; height: 40px;">
                <i class="fa fa-plus">1</i> <!-- Ejemplo con icono de FontAwesome -->
            </button>
            <button class="botoninterfaz btn d-inline-flex rounded-circle" style="width: 40px; height: 40px;">
                <i class="fa fa-plus">2</i> <!-- Ejemplo con icono de FontAwesome -->
            </button>


        </div>
        <div class="col-8 d-flex justify-content-center aligin-content-center" style="height: 140px;">
            <div class="libros seat available">Libros</div>
        </div>
        <div class="col-2 " style="height: 100px;">
        </div>
    </div>

    <div class="row">

        <div class="col-2" style="height: 100px;">
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
        </div>
        <div class="col-8  " style="height: 400px;">


            <div class="row seat-map align-items-center">


                

               
                <div class="seat available2"></div> 
                <div class="seat available2">A</div>
                <div class="seat available2">B</div>
                <div class="seat available2">C</div>
                <div class="seat available2">D</div>
                <div class="seat available2">E</div>
                <div class="seat available2">F</div>
                <div class="seat available2">G</div>
                <div class="seat available2">H</div>
                <div class="seat available2">I</div>
                <div class="seat available2">J</div>
                <div class="seat available2">K</div>
                <div class="seat available2">L</div>
                <div class="seat available2">1</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">2</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">3</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">4</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">5</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">6</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">7</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available2">8</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                

            </div>

        </div>



        <div class="col-2 " style="height: 100px;">
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
            <div class="mesas seat available">Mesa</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 " style="height: 100px;">
            <button class="habilitar"><i> Habilitar<i/></button>
            <button class="desabilitar">Desabilitar</button>
        </div>

    </div>
</div>

     