html {
    font-size: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem rgb(237, 237, 237), 0 0 0 0.25rem #15b039;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white;
}

.imagenes1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E6E8;
    height: 90px;
}

.titulo1 {
    color: black;
    text-decoration: none;
}

.izquierda {
    width: 80px;
    height: 80px;
}

.derecha {
    width: 80px;
    height: 80px;
}

.col-7 {
    max-width: 40%;
}

.botones-nav {
    color: #258cfb;
}

.container {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.col-3 {
    background-color: #B1B1B1;
    height: 645px;
}

.h-90 {
    height: 90% !important;
    width: 90% !important;
    justify-content: space-around;
}

.botones1 {
    background-color: aqua;
}


.altura {
    height: 60px;
    width: 100% !important;
    border: solid #939393;
    border-radius: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #11ff00; /* Cambia el color del texto de los enlaces */
}
