
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

    .no-gutters > .col-6 {
        padding-right: 0;
        padding-left: 0;
    }

.container-fluid {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.content {
    padding-left:40px;
    padding-bottom:0px;
}
h1{
    font-size:200px;
}
.titulo{
font-size:40px;
display:flex;
justify-content:center;
align-items:center;
text-decoration:none;
color: black;
margin-bottom:10px;

}
.scroll-container {
    max-height: 300px;
    overflow-y: scroll;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

    .scroll-container p {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        color: #333;
    }

    .scroll-container strong {
        color: #4CAF50;
    }

    
    .scroll-container::-webkit-scrollbar {
        width: 10px;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #4CAF50;
        border-radius: 10px;
    }

    .scroll-container::-webkit-scrollbar-track {
        background-color: #e0e0e0;
        border-radius: 10px;
    }
.img1{
    width:150px;
    height:150px;
   
}
.resenasimg {
    display:  flex;
    justify-content: center;
    align-items: center;
}