.partesuperior {
    background-color: aqua;
}

.seat-map {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn {
    
    padding:0;
}
   
    .seat {
    margin-right: 12px;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid white;
}

    .seat.available {
        background-color: #A7F50A;
    }


    .seat.unavailable {
        background-color: red;
    }

    .seat.selected {
        background-color: rgb(255, 94, 0);
    }




h5 {
    margin-right: 12px;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid white;
}

.seat.custom-seat {
    width: 150px;
    height: 700px;
    border: solid 4px black;
}

.libros.seat.available {
    border: solid 6px black;
    width: 500px;
    height: 150px;
    background-color: white;
}

.botoninterfaz.btn {
    background-color: gray;
    border: solid 1px black;
    margin: 10px;
}

    .botoninterfaz.btn i {
        color: white;
    }


button.reservar, button.deshacer {
    color: white; /* Color del texto */
    border: none; /* Eliminar borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cursor de puntero */
    margin: 5px; /* Espaciado entre botones */
}

button.reservar {
    background-color: green;
    width: 100px;
    height: 40px; /* Ajustar altura */
}

button.deshacer {
    background-color: red;
    width: 100px;
    height: 40px; /* Ajustar altura */
}

.occupied {
    background-color: red;
    cursor: not-allowed;
}

.maintenance {
    background-color: yellow;
    cursor: not-allowed;
}

.selected {
    border: 2px solid blue;
}

.reserved {
    background-color: red;
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
    .botoninterfaz {
        width: 30px;
        height: 30px;
    }

    .seat.seat {
        width: 20px;
        height: 20px;
    }
    .custom-seat {
        width: 150px;
        height: 150px;
    }

    

    .libros.seat.available {
        width: 300px;
        height: 100px;
    }

    button.reservar, button.deshacer {
        width: 80px;
        height: 25px;
        text-align:center;
    }

    .seat-map {
        gap: 3px;
        margin: 10px;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1996px) {
    .botoninterfaz {
        width: 30px;
        height: 30px;
    }

    .seat {
        width: 50px;
        height: 50px;
    }

        .seat.custom-seat {
            width: 200px;
            height: 200px;
        }

    .libros.seat.available {
        width: 300px;
        height: 100px;
    }

    button.reservar, button.deshacer {
        width: 80px;
        height: 25px;
        text-align: center;
    }

    .seat-map {
        gap: 3px;
        margin: 10px;
    }
}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1997px) {
    .botoninterfaz {
        width: 40px;
        height: 40px;
    }

    .seat {
        width: 60px;
        height: 60px;
    }

        .seat.custom-seat {
            width: 150px;
            height: 150px;
        }
    .libros.seat.available {
        width: 500px;
        height: 150px;
    }

    button.reservar, button.deshacer {
        width: 100px;
        height: 30px;
        text-align: center;
    }

    .seat-map {
        gap: 5px;
        margin: 20px;
    }
}
