@{
    ViewData["Title"] = "INICIO";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/IndexNoRegistrado.css" />
}
<div class="container-fluid no-padding">
    <div class="row no-gutters">
        <div class="col-6 no-padding">
            <img src="~/img/mapa.jpg" alt="Alternate Text" class="img-fluid" />
            </div>
            <div class="col-6 no-padding">
           
             <div class="content ">
               <a class="titulo" href="">Sobre la Biblioteca de FIME</a>
                <div class="scroll-container">
                    <p>
                        ¡Descubre la Biblioteca de la FIME: Tu Espacio Ideal para Estudiar! En la Biblioteca de la FIME, entendemos que cada estudiante tiene sus propias necesidades y preferencias de estudio. Por eso, hemos diseñado un espacio único y flexible que se adapta a ti. ¡Conoce nuestras opciones de reservación de cubículos y mesas y aprovecha al máximo tu tiempo de estudio!
                        <br><br>
                        <strong>Reservación de Cubículos</strong><br>
                        ¿Necesitas un lugar tranquilo y privado para concentrarte? Nuestros cubículos son la elección perfecta. Equipados con iluminación adecuada, cómodas sillas ergonómicas y conexiones eléctricas, nuestros cubículos te ofrecen un ambiente silencioso y libre de distracciones. Puedes reservarlos fácilmente a través de nuestro sistema en línea, asegurándote de tener tu espacio garantizado cuando más lo necesites.
                        <br><br>
                        <strong>Mesas de Estudio</strong><br>
                        Si prefieres un entorno más abierto o estudiar en grupo, nuestras mesas de estudio son ideales. Ubicadas en áreas luminosas y espaciosas, nuestras mesas te permiten trabajar cómodamente solo o con tus compañeros. También puedes reservarlas con antelación para asegurar que siempre tengas un lugar donde estudiar.
                        <br><br>
                        <strong>¿Por qué Elegir la Biblioteca de la FIME</strong><br>
                        Flexibilidad: Reserva por horas o por días, según tus necesidades. Comodidad: Espacios diseñados para maximizar tu confort y productividad. Acceso a Recursos: Aprovecha nuestra vasta colección de libros, revistas y recursos digitales mientras estudias. Ambiente Inspirador: Estudia en un entorno moderno y bien equipado, rodeado de otros estudiantes motivados.
                        <br><br>
                        ¡No pierdas más tiempo buscando un lugar para estudiar! Reserva tu cubículo o mesa hoy mismo y descubre cómo la Biblioteca de la FIME puede convertirse en tu aliado perfecto para el éxito académico. Visítanos en línea o en persona para más detalles y comienza a disfrutar de los beneficios de nuestros espacios de estudio.
                    </p>

                </div>
                <div class="col-12     juestify-content resenasimg">
                    <img src="~/img/resenas.png" alt="Alternate Text" class="img1" />
                    <div class="rating ">
                        <input type="radio" name="clr1" style="--c:#ff9933" />
                        <input type="radio" name="clr1" style="--c:#ff9933" />
                        <input type="radio" name="clr1" style="--c:#ff9933" />
                        <input type="radio" name="clr1" style="--c:#ff9933" />
                        <input type="radio" name="clr1" style="--c:#ff9933" />
                    </div>


                </div>

                

                
        
    </div>
</div>

